<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/k6"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Alindi"></activity>
        <activity android:name=".Scanner" />
        <activity android:name=".Help" />
        <activity android:name=".MedicineAddList" />
        <activity android:name=".PatientAddList" />
        <activity android:name=".DashboardDepocu" />
        <activity android:name=".DashboardUser" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Admin" />
        <activity android:name=".Register" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>